body {
  background-image: linear-gradient(#1F487E, #1F487E 10%,#376996);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 0;
}

.main-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.content-counter {
  font-size: 186px;
  padding-top: 28px;
  font-weight: 800;
  line-height: 186px;
  text-align: center;
}

.counter-action {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  margin-top: 60px;
  color: #70A1CC;
}

.status-footer {
  font-weight: 600;
  font-size: 12px;
}